<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          <span class="custom-checkbox">
            <input type="checkbox" [(ngModel)]="checkAll" (ngModelChange)="oncheckAll()">
            <label for="selectAll"></label>
          </span>
        </th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of memberItems | pagination : startPage : limitPage" >
        <td>
          <span class="custom-checkbox">
            <input type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="oncheck()">
            <label for="checkbox1"></label>
          </span>
        </td>
        <td>{{ item.mem_name }}</td>
        <td>{{ item.mem_email }}</td>
        <td>{{ item.mem_address || '-' }} </td>
        <td>{{ item.mem_phone }}</td>
        <td>
          <a href="#editEmployeeModal" class="edit" data-toggle="modal" (click)="onEditModal(item)">
            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
          <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" (click)="onDeleteModal(item)">
            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="clearfix">
    <div class="hint-text">
      Showing <b>{{ limitPage }}</b> out of <b>{{ memberItems.length }}</b> entries
    </div>
    <ul class="pagination">
      <li class="page-item" [ngClass] = "{disabled: startPage <= 1}">
        <a class="page-link" (click)="onPreviousPage()">Previous</a>
      </li>

      <li class="page-item" [ngClass] = "{active: startPage == page}" *ngFor="let page of paginations">
        <!-- <a class="page-link" (click)="startPage = page">{{ page }}</a> -->
        <a class="page-link" (click)="onChangePage(page)">{{ page }}</a>
      </li>

      <li class="page-item" [ngClass] = "{disabled: startPage == paginations.length}">
        <a class="page-link" (click)="onNextPage()">Next</a>
      </li>
    </ul>
  </div>